.form {
    /* height: 50px; */
    /* justify-content: space-around; */
}

.add_btn {
    background-color: #8458B3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    /* font-size: px; */
    margin-right: 10%;
    padding: 20px 30px;
    /* padding-bottom: 0px; */
    /* text-align: center; */
    /* font-size: 18px; */
}

h1{
text-align: center;
color: white;
font-weight: bolder;
font-style: italic;
}
.task {
    width: 60%;
    margin-left: 10%;
    align-content: center;
    height: 50px;
    background-color: #494D5F;
    text-align: center;
    border: 5px;
    margin-right: 10px;
    border: 50px;
    border-color: #8458B3;
    color: white;
    font-size: 15px;
}
@media (width <=1304px) {
    /* .form{
        display: inline-block
    } */
    .add_btn{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .task{
        width: 80%;
    }
}
/* to do styles */
.todo{
    display: flex;
    justify-content: space-around;
    background-color: #8458B3;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    align-content: center;
    color: white;
   
    /* margin-right: 10px; */
}
.completed{
    text-decoration: line-through;
    cursor: pointer;
    
}
.not_completed, .delete, .edit{
    cursor: pointer;
}
.operation{
    margin-top: 15px;
}
.wrapper{
    background-color: #494D5F;
    width: 80%;
    margin-left: 10%;
    align-content: center;
    border-radius: 10px;
}